{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!-- slider stylesheet -->
<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


<!-- font wesome stylesheet -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../../static/css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="../../static/css/responsive.css" rel="stylesheet" />
{% endblock %}
{% block title %}
Editar Usuario
{% endblock %}

{% block content %}

<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
        <a class="navbar-brand mr-5" href="index.html">
          <img src="../static/img/logo.png" alt="">
          <span>
              Fragancia Exquisita
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('inicio')}}">Incio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('appusuario.login')}}">Iniciar Sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('appusuario.registro')}}">Registro de usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('appusuario.getUsuarios')}}">Usuarios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('appproducto.getProducto')}}">Perfumes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('appproveedor.getProveedor')}}">Proveedores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('appventa.getVenta')}}">Ventas</a>
              </li>
            </ul>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <div class="body_bg layout_padding">
    <section class="contact_section">
        <div class="container">
            <div class="heading_container">
              <h2 class="">{{mensaje}}</h2>
              <div>
                <a href="{{ url_for('appusuario.getUsuarios') }}">
                  <button type="button" class="btn">Regresar</button>
                </a></br>
              </div>
            </div>
        </div>
        <div class="container contact_bg layout_padding2-top">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_form ">
                      <form action="" method="post" class="form" role="form">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="">

                        <div class="form-group  required"><label class="control-label" for="nombreUsuario">Nombre del Usuario:</label>
                          <input class="form-control" id="nombreUsuario" name="nombreUsuario" required="" type="text" value="">
                        </div>
                        <div class="form-group  required"><label class="control-label" for="correo">Correo:</label>
                          <input class="form-control" id="correo" name="correo" required="" type="text" value="">
                        </div>
                        <div class="form-group  required"><label class="control-label" for="contraseña">Contraseña:</label>
                          <input class="form-control" id="contraseña" name="contraseña" required="" type="text" value="">
                        </div>
                        <div class="form-group  required"><label class="control-label" for="edad">Edad:</label>
                          <input class="form-control" id="edad" name="edad" required="" type="number" value="">
                        
                          <label>
                            <input checked="" id="admin" name="admin" type="checkbox" value=""> Admin
                          </label>
                        </div>
                        <input class="btn btn-default" id="enviar" name="enviar" type="submit" value="Enviar">
                      </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="../static/img/login2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>

<!-- footer section -->

<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
{% endblock %}